@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: nazanin;
  src: url(B-NAZANIN.TTF);
}
html {
  font-family: nazanin;
  font-size: 16px;
}

table{
    table-layout: fixed;
    width: 100%;
}
@page{
  margin:0
}
.workbook{
    break-after: always;
}
@media screen {

}
@layer components {

  .workbook {
      @apply  overflow-hidden   w-[290mm] m-auto h-[210mm] flex justify-center items-start
  }
  .table-detail{
    @apply h-[30%]
  }
  .table-score{
    @apply h-[70%]
  }
  table {
      
    direction: rtl;
    @apply w-full  text-center ;
  }
  table :where(td, tr, th) {
    @apply border border-black  overflow-hidden;
  }
  table thead tr:not(:nth-child(1)) td:nth-child(even) {
    @apply font-bold bg-gray-100;
  }
  table.table-detail {
    @apply text-base  whitespace-nowrap;
  }

  table thead tr:nth-child(1) td:nth-child(1) {
    @apply text-[1.5rem] bg-gray-100;
  }
  table thead tr:nth-child(1) td:nth-child(2) {
    @apply w-[30mm]  h-[41mm]
  }
  table.table-score {
    @apply text-sm;
  }
  .table-score tr th {
    @apply bg-gray-300 ;
  }

  .table-score tfoot tr:nth-child(3) td:nth-child(4) {
    @apply bg-gray-300;
  }
  .table-score tr:nth-child(1) th:nth-child(2),
  .table-score th:nth-child(9) {
    @apply w-[150px];
  }
  .table-score tr:nth-child(1) th:nth-child(4) {
    @apply w-[100px]
  }
  .table-score tr:nth-child(1) th:nth-child(8){
      @apply  w-[80px]
  }
}
